# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Spring Boot
*.log
